.add{
    background-color: red;
    color:whitesmoke;
}
.add:hover{
    background-color: blueviolet;
    color:azure;
}
input{
    background-color:cadetblue;
    color:white;
}
input::placeholder{
    color:rgb(61, 45, 45);
}
h1{
    color:rgb(123, 0, 255);
}
.delete{
    background-color: rgb(22, 121, 207);
    color:whitesmoke;
}
.delete:hover{
    background-color: chocolate;
    color:azure;
}